<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-row class="ion-align-items-center">
      <ion-col size="auto">
        <ion-title >Chat</ion-title>
        </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="message-card" *ngFor="let mensagem of mensagem">
      <p>{{ mensagem.user }}: {{ mensagem.mensagem }}</p> 
    </ion-card>
</ion-content>

  <ion-footer>
    <ion-toolbar class="t">
      <ion-row class="message-input-row">
        <ion-col size="10">
          <ion-input [(ngModel)]="novaMensagem" placeholder="Digite sua mensagem..." class="text-input"></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-button (click)="sendMensagem()" class="send-button">
            <ion-icon name="send"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
  
