.message-card {
  padding: 0px 10px;
  box-sizing: border-box;
  margin-bottom: 5px;
  border-radius: 20px;
  margin-bottom: auto;
  /* Ajuste a margem inferior conforme desejado */
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

ion-icon {
  width: 20px;
}

ion-button {
  width: fit-content;
}

.page-content {
  padding: 10px;
}
#data{
  text-align: right;
}