@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");


#container1 {
  width: 100%;
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  position:absolute;
  width: 100%;
  top: 20%;
}

#container1 a {
  text-decoration: none;
}

#container1{
  padding:10rem;
}


