<ion-content class="ion-text-center"
  style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 100vh;">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Acesso Chat GMW</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="container" id="container1">
      <h1>Clique para Entrar</h1>
      <br>
      <ion-button expand="block" (click)="openModal()">Entrar</ion-button>
    </div>
  </ion-content>

</ion-content>